.PersonTable {
	margin:0px;padding:0px;
	width:90%;
	box-shadow: 1px 1px 2px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
	
	min-height: 180px;
}
.PersonTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.PersonTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
}
.PersonTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.PersonTable table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}.PersonTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
}
.PersonTable tr:hover td{
	
}
.PersonTable tr:nth-child(odd)     { background-color:#CECECE; }
.PersonTable tr:nth-child(even)    { background-color:#ffffff; }
.PersonTable td{
	vertical-align:middle; 
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.PersonTable tr:first-child td{
	background:-o-linear-gradient(bottom, #808080 5%, #ADADAD 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #808080), color-stop(1, #ADADAD) );
	background:-moz-linear-gradient( center top, #808080 5%, #ADADAD 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#808080", endColorstr="#ADADAD");	background: -o-linear-gradient(top,#808080,ADADAD);

	background-color:#808080;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.PersonTable:hover {
	background:-o-linear-gradient(bottom, #808080 5%, #ADADAD 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #808080), color-stop(1, #ADADAD) );
	background:-moz-linear-gradient( center top, #808080 5%, #ADADAD 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#808080", endColorstr="#ADADAD");	background: -o-linear-gradient(top,#808080,ADADAD);

	background-color:#3F3F3F;
	cursor: pointer;
}
.PersonTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.PersonTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.PersonTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.PersonTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.PersonTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}















.MainTable {
	direction: rtl;
	margin:0px;padding:0px;
	width:90%;
	border:0px solid #000000;
	
}
.MainTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.MainTable tr:hover td:hover{
	
}
.MainTable td{
	vertical-align:middle;
	
	
	border:0px solid #000000;
	border-width:0px;
	text-align:right;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

